<div
    class="p-5 text-center"
    style="
      height: 400px;
      background-image: url('https://img.freepik.com/vecteurs-libre/diverses-personnes-boivent-alcool-au-bar_107791-12529.jpg?w=2000&t=st=1669294742~exp=1669295342~hmac=76a1d23dcda7dcc9dfd77c0157d901d85fc7497ae1052645df998d354ac03418');
      background-size: cover
    "
  >
    <div class="mask" style="background-color: transparent;">
      <div class="d-flex justify-content-center align-items-center h-100">
        <div>
          <a class="btn" href="#!" role="button"
          >Book a party now</a
          >
        </div>
        <%= form_with url: party_flats_path, method: :get, class: "d-flex" do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Find a Party Flat"
  %>
  <%= submit_tag "Search", class: "btn" %>
<% end %>
        <div>
    </div>
      </div>
    </div>
  </div>


<div class="container" style="width: 100%; margin-left: auto;
margin-right: auto; padding: 15px;">
  <div class="align-items-center justify-content-between mb-3">
          <h1 style="font-family: 'Lobster', cursive; text-align: center; font-size: 60px;">Good places, good beers, good times!</h1>

  </div>
</div>

<div class="boite px-3">

<div class="row3">
    <% @party_flats.each do |party_flat| %>

<div class="flip-card">
        <div class="card" style="width: 18rem; background-color: transparent; border-color: transparent;">
  <div class="flip-card-inner">
    <div class="flip-card-front">
        <% if party_flat.photos.attached? %>
            <%= cl_image_tag party_flat.photos.first.key, height: 230, width: 380, crop: :fill%>
        <% end %>


    </div>
    <div class="flip-card-back">
          <%= link_to party_flat_path(party_flat), class:"text-decoration-none" do %>
              <div class="card-body">
                <div class="backcard">
                  <p class="card-text-2"><%= party_flat.description %></p>
                  <p class="card-text-1"><%= party_flat.localisation %></p>
                </div>
                <div class="backcard2">
                  <p class="backcardtext2"><%= party_flat.people_capacity %> <%= image_tag "https://cdn-icons-png.flaticon.com/512/42/42175.png" %></p>
                  <p class="backcardtext2"><%= party_flat.number_of_room %> $/night</p>
                  <p class="backcardtext2"><%= party_flat.bed_capacity %> <%= image_tag "https://cdn-icons-png.flaticon.com/512/632/632339.png" %></p>
                </div>  
                <div class="backcard2">
                  <p class="backcardtext2"><%= party_flat.agrement_list %></p>
                </div>
              </div>
          
          <% end %>

    </div>
  </div>
  </div>
</div>
<% end %>
</div>


</div>

<div style="width: auto; margin-left: 15px;
margin-right: 15px; padding: 30px;">
  <div style="width: 100%; height: 600px; align-items: center;"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>
