<div
    class="p-5 text-center"
    style="
      height: 400px;
      background-image: url('https://img.freepik.com/vecteurs-libre/diverses-personnes-boivent-alcool-au-bar_107791-12529.jpg?w=2000&t=st=1669294742~exp=1669295342~hmac=76a1d23dcda7dcc9dfd77c0157d901d85fc7497ae1052645df998d354ac03418');
      background-size: cover
    "
  >
    <div class="mask" style="background-color: transparent;">
      <div class="d-flex justify-content-center align-items-center h-100">
        <div>
          <a class="btn" href="#!" role="button"
          >Book a party now</a
          >
        </div>
        <div>
    </div>
      </div>
    </div>
  </div>


<div class="container" style="width: 100%; margin-left: auto;
margin-right: auto;">
  <div class="d-flex align-items-center justify-content-between mb-3">
          <h1 style="font-family: 'Lobster', cursive;">Good places, good beers, good times</h1>

  </div>



<div class="row">
    <% @party_flats.each do |party_flat| %>

<div class="flip-card">
        <div class="card" style="width: 18rem; background-color: transparent; border-color: transparent;">
    <p class="card-title" style="border-radius: 5px;"> <%= party_flat.localisation  %>
  <div class="flip-card-inner">
    <div class="flip-card-front">
        <% if party_flat.photos.attached? %>
            <%= cl_image_tag party_flat.photos.first.key, height: 194, width: 270, crop: :fill%>
        <% end %>
        



    </div>
    <div class="flip-card-back">
          <%= link_to party_flat_path(party_flat), class:"text-decoration-none" do %>
              <div class="card-body">
                <p class="card-text"><%= party_flat.localisation %></p>
                <p class="card-text-2"><%= party_flat.description %></p>
              </div>
          
          <% end %>

    </div>
  </div>
  </div>
</div>
<% end %>
</div>

<div>_</div>

<div style="width: 100%; height: 600px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
