<div class="cover mb-4 d-flex align-items-center justify-content-center">
  <div class="text-center text-white">
    <h1>Good places, good beers, good times!</h1>
    <h3 class="typed-js" data-controller="typed-js"></h3>
  </div>
</div>
<div class="container py-5">
  <div class="d-flex align-items-center justify-content-between mb-3">
    <h3 class="mb-0">Find a party!</h3>
    <%= link_to "Create a Party", new_party_flat_path, class: "btn" %>
  </div>



<div class="row">
    <% @party_flats.each do |party_flat| %>

<div class="flip-card">
        <div class="card" style="width: 18rem;">
    <p class="card-title" style="border-radius: 5px;"> <%= party_flat.localisation  %>
  <div class="flip-card-inner">
    <div class="flip-card-front">
        <% if party_flat.photos.attached? %>
            <%= cl_image_tag party_flat.photos.first.key, height: 194, width: 270, crop: :fill%>
        <% end %>
        



    </div>
    <div class="flip-card-back">
          <%= link_to party_flat_path(party_flat), class:"text-decoration-none" do %>
              <div class="card-body">
                <p class="card-text"><%= party_flat.localisation %></p>
                <p class="card-text-2"><%= party_flat.description %></p>
              </div>
          
          <% end %>

    </div>
  </div>
  </div>
</div>
<% end %>
</div>

<div>_</div>

<div style="width: 100%; height: 600px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
