<div class="cover mb-4 d-flex align-items-center justify-content-center">
  <div class="text-center text-white">
    <h1>Notre slogan</h1>
    <h3 class="typed-js" data-controller="typed-js"></h3>
  </div>
</div>
<div class="container py-5">
  <div class="d-flex align-items-center justify-content-between mb-3">
    <h3 class="mb-0">Find a party!</h3>
    <%= link_to "Create a Party", new_party_flat_path, class: "btn btn-flat" %>
  </div>
  <div class="row">
    <% @party_flats.each do |party_flat| %>
      <div class="co-12 col-sm-6 col-md-4 mb-3">
        <%= link_to party_flat_path(party_flat), class:"text-decoration-none" do %>
          <div class="card-category">
            <%= party_flat.localisation %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<div style="width: 100%; height: 600px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>