
<div class="container margin-top-negative py-3">
<img class="img-thumbnail" src="<%= @party_flat.picture_url %>" alt="photo">
<p><%= @party_flat.description %></p>
<p><%= @party_flat.localisation %></p>
<p><%= @party_flat.surface %></p>
<p><%= @party_flat.number_of_room %></p>
<p><%= @party_flat.people_capacity %></p>
<p><%= @party_flat.bed_capacity %></p>
</div>
