
<div class="container">
<div class=" shadow-lg p-3 my-2 bg-body rounded">
<div class="row g-0">
  <div class="col-sm-6 col-md-6">
      <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <% @party_flat.photos.each do |photo| %>
          <div class="carousel-item active">
            <%= cl_image_tag photo.key%>
          </div>
            <% end %>
        </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
            </button>
      </div>
  </div>

    <div class="col-8 col-md-4 align-self-center m-3">
        <h5> You can contact <%= @party_flat.user.first_name %> for more details.</h4>
    <div class="col-8">
      <div class="flat-show-card">
        <%= link_to "Book this place !", new_party_flat_booking_path(@party_flat), class: "btn btn-outline-info" %>
    </div>
           <% if @party_flat.user == current_user %>
              <div style="display: flex; flex-wrap: nowrap;">
              <%= link_to "Remove", destroy_path(@party_flat),data: { turbo_method: :delete, turbo_confirm: "Are you sure?" },class: "btn btn-danger btn-sm"%>
              <%= link_to "Edit", edit_party_flat_path(@party_flat), class: "btn btn-dark btn-sm" %>
              </div>
            <% end %>
      </div>
    </div>
  </div>
</div>

<div class="shadow-lg p-3 my-5 bg-body rounded">
  <h1>Description</h1>
        <p><%= @party_flat.description %></p>
</div>

      <div class="rounded-3 shadow-lg p-3 bg-body rounded">
        <div class="row align-items-start text-center">
          <div class="col">
            <p>Surface <%= @party_flat.surface %> m2</p>
          </div>
          <div class="col">
            <p>Fit for <%= @party_flat.people_capacity %> persons</p>
          </div>
          <div class="col">
            <p><%= @party_flat.bed_capacity %> beds</p>
          </div>
      
          <div class="col">
            <p><%= @party_flat.number_of_room %> $ / night</p>
          </div>
                  <div class="row align-items-start text-center">

          <div class="col">
        <p>Include : <%= @party_flat.agrement_list %> and drinks of course!</p>
          </div>
          </div>
        </div>
         </div>

<div style="width: 100%; height: 600px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
</div>
